.svg-arrow {
  font-size: 0.57em;
  width: 0.57em;
  height: 1em;
  fill: initial;
}
.svg-github {
  font-size: 1.04em;
  width: 1.04em;
  height: 1em;
  fill: initial;
}
.svg-linkedin {
  font-size: 1em;
  width: 1em;
  height: 1em;
  fill: initial;
}
.svg-telegram {
  font-size: 1.2em;
  width: 1.2em;
  height: 1em;
  fill: initial;
}
