{% set
	nav = [
		{
			title: "Home",
			link: "/home"
		},
		{
			sublist: [
				{
					sublist2: [
						{
							item: "subitem21",
							link: "#"
						},
						{
							item: "subitem22",
							link: "#"
						},
						{
							item: "subitem23",
							link: "#"
						}
					],
					item: "404",
					link: "404"
				},
				{
					item: "subitem2",
					link: "#"
				},
				{
					item: "subitem2",
					link: "#"
				}
			],
			title: "Pages",
			link: "#"
		},
		{
			sublist: [
				{
					item: "subitem2",
					link: "#"
				},
				{
					item: "subitem2",
					link: "#"
				},
				{
					item: "subitem2",
					link: "#"
				}
			],
			title: "Gallery",
			link: "/gallery"
		},
		{
			sublist: [
				{
					item: "subitem2",
					link: "#"
				},
				{
					item: "subitem2",
					link: "#"
				},
				{
					item: "subitem2",
					link: "#"
				}
			],
			title: "Games",
			link: "/games"
		},
		{
			sublist: [
				{
					item: "subitem2",
					link: "#"
				},
				{
					item: "subitem2",
					link: "#"
				},
				{
					item: "subitem2",
					link: "#"
				}
			],
			title: "News",
			link: "/news"
		},
		{
			sublist: [
				{
					item: "subitem2",
					link: "#"
				},
				{
					item: "subitem2",
					link: "#"
				},
				{
					item: "subitem2",
					link: "#"
				}
			],
			title: "Contancts",
			link: "/contacts"
		}
	]
%}
